.content {
  margin: 0 auto;
  width: 70%;
  padding-block: 5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1.5rem;
}

.content_title {
  margin-block: 2rem;
}

.content_addButton {
  padding: 1rem;
  border-radius: 100px;
  color: #eee;
  background-color: #1d96b2;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}
.content_addButton:hover {
  opacity: 0.5;
}

.table {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
  padding: 8px;
  padding-inline: 1rem;
}

th {
  background-color: #1d96b2;
  color: #eee;
  border-right: 1px solid white;
  font-weight: 300;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.action_cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

.action_button {
  font-size: 1.4rem;
  padding: 1rem;
  cursor: pointer;
  background-color: transparent;
}
